body {
    padding-top: 10px;
    padding-bottom: 30px;
}

header h1{
    width: 10%;
    font-size:120%; /*フォントサイズの調整*/
    color:#313131; /*文字色の変更*/
    padding-top: 10px; /*文字上部に余白*/
    padding-bottom: 10px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
    border:1px solid #313131; /*文字の周りに線を描く*/
    border-radius: 5px; /*線の角に丸みを付ける*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
    font-weight:400; /*文字の太さの変更*/
}


/*****NAV*****/
nav{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    overflow: hidden;
}
nav ul{
    width: 60%;
    margin-left: 20%;
    list-style-type: none;
}
nav li{
    width: calc(25% - 2px);
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
    border-left: 1px solid black;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
}
nav li:last-child{
    border-right: 1px solid black;
}

nav li:hover{
    background-color: orange;
    transition: background-color 0.5s ease-out;
    color: #fff;
}


/*****globalNAV*****/
.globalNavi li{
    display: inline-block;
    margin-right: 40px;
    text-align: center; 
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal; 
    font-size: 20px;
}



/*****mainImage*****/
.mainImage {
    width : 30%;
    margin-right: auto;
    margin-left: auto;

}

.mainImage img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}





/*****aboutSection*****/
.aboutSection,
.newsSection {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.aboutSection img{
    width: 30%;
    height: auto;
}

.aboutSection h2 {
    text-align: center;
    font-size: 15px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 40px;
}

.aboutSection h2 span {
    font-size: 30px;
    border-bottom: 2px solid red;
}


.aboutSection ul{
    overflow: hidden;
    padding: 0;
}

.aboutSection li{
    float: left;
    list-style-type: none;
    width: 30%;
    margin-right: 2%;
}

.aboutSection li:last-child{
    margin-right: 0;
}

.aboutSection li img{
    width: 100%;
    height: 250px;
}

.aboutSection li:last-child{
    margin-right: 0;
}

.aboutSection h3{
    font-size: 25px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.aboutSection p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;

}


/*****newsSection******/

.newsSection h2 {
    text-align: center;
    font-size: 15px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 40px;
}

.newsSection h2 span{
    font-size: 30px;
    border-bottom: 2px solid red;
}

.newsSection table{
    width: 100%;
    border-top: 1px solid #dddddd;
}

.newsSection th{
    font-family: "DotGothic16", sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 15%;
}

.newsSection td{
    font-family: "DotGothic16", sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 85%;
}


/****referenceBt*****/

.referenceBt {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}


.referenceBt a{
    background: black;
    color: white;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    border-radius: 5px;
}


/****copyrigth******/
.copyrigth p{
    text-align: center;
}




/*****参照ページで使用*****/
.h2-reference{
    text-align: center;
}

.h3-reference{
    text-align: right;
}



/*****プロフィールページで使用*****/
.intro-myself{
    display:flex;

}

.myphoto{
    text-align: center;
    width:100%;
    height:100%;
}
.intro-text{
    width:100%;
    font-size: 20px;
}




/*****　workページで使用　*****/
.intro-work{
    display:flex;

}

.accessories-photo{
    text-align: center;
    width:80%;
    height:100%;
    margin-top: 20px;
}
.work-text{
    width:100%;
    font-size: 20px;
    margin-bottom: 150px;
}

.work-text li{
    margin-bottom: 15px;
}

.work-text li span{
    font-weight: bold;
}

.underBar{
    text-decoration: underline;
    text-decoration-style: wavy;
    background: linear-gradient(transparent 70%,yellow);
}

/*****学びページで使用*****/
.learn-slide{
    text-align: center;
}
