body {
    padding-top: 10px;
}

header h1{
    width: 10%;
    font-size:120%; /*フォントサイズの調整*/
    color:#313131; /*文字色の変更*/
    padding-top: 10px; /*文字上部に余白*/
    padding-bottom: 10px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
    border:1px solid #313131; /*文字の周りに線を描く*/
    border-radius: 5px; /*線の角に丸みを付ける*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
    font-weight:400; /*文字の太さの変更*/
}

/*
h1 {
    text-align: center; 
    font-size: 30px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.2;
}  


h1 span {
    font-size: 30px;
}
*/


/*****NAV*****/
nav{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 60%;
    margin-left: 20%;
    list-style-type: none;
}
nav li{
    width: calc(25% - 2px);
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
    border-left: 1px solid black;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
}
nav li:last-child{
    border-right: 1px solid black;
}

nav li:hover{
    background-color: orange;
    transition: background-color 0.5s ease-out;
    color: #fff;
}
/************/


/*****globalNAV*****/
.globalNavi li{
    display: inline-block;
    margin-right: 40px;
    text-align: center; 
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal; 
    font-size: 20px;
}

.globalNavi li:last-child{
    margin-right: 0;
}
/*************/

/*****mainImage*****/
.mainImage {
    width : 30%;
    margin-right: auto;
    margin-left: auto;

}

.mainImage img{
    width: 100%;
    height: auto;
}
/******************/



/*****aboutSection*****/
.aboutSection{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.aboutSection img{
    width: 30%;
    height: auto;
}

.aboutSection h2 {
    text-align: center;
    font-size: 15px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 40px;
}

.aboutSection h2 span {
    font-size: 30px;
    border-bottom: 2px solid#000000;
}

.aboutSection ul{
    overflow: hidden;
}

.aboutSection li{
    float: left;
    list-style-type: none;
    width: 20%;
}

.aboutSection li img{
    width: 50%;
    height: 25%;
}


/*****aboutSection*****/
